<h1 style="background-color:gray">Result Management System </h1>
<div class="bg">
    <div class="log">
        <button
        margin-top: 10px>
            <a href="/teacher/login">Teacher Login</a>
        </button>
    </div>
    <div class="log">
        <button
        margin-top: 10px>
            <a href="/student/login">Student Login</a>
        </button>
    </div>
</div>